<h3>
  Grabar usuario.
</h3>

<div class="form-group">

  <div>
    <label for="nombre">Nombre: </label>
    <input class="form-control"  type="text" id="nombre" name="nombre" [(ngModel)]="nombre" required/>
  </div>

  <div>
    <label for="usuario">Usuario: </label>
    <input class="form-control" type="text" id="usuario" name="usuario" [(ngModel)]="usuario" required/>
  </div>

  <div>

    <label for="correo">Correo: </label>
    <input class="form-control" type="email" id="correo" name="correo" [(ngModel)]="correo"/>
  </div>

  <div>
    <label for="telefono">Teléfono: </label>
    <input class="form-control" type="tel" id="telefono" name="telefono" [(ngModel)]="telefono" minlength="6"/>
  </div>

  <br/>

  <div>
    <button class="btn btn-primary" (click)="grabarUsuario()">Grabar</button>
  </div>

  <br/>

  <div *ngIf="(mensaje !== '')">
    <p class="msjerror">{{mensaje}}</p>
  </div>

</div>